.mainPane {
  height: 100vh;
}

.mainPane .logoPane {
  flex-direction: row;
  height: 15vh;
  align-items: center;
  justify-content: center;
  background-color: var(--ACCENT-COLOR);
}
.logoPane .logo {
  height: 7.5vh;
  object-fit: contain;
  padding: 1vh;
}
.logoPane .logoRightPane {
  align-items: flex-start;
}
.logoRightPane .textTitle {
  font-size: 1.75vh;
  font-family: 'Font-Bold';
  font-weight: bold;
  letter-spacing: 0.1vh;
  color: var(--BACKGROUND-COLOR);
  text-decoration: none;
}
.logoRightPane .text {
  font-size: 1.5vh;
  color: var(--BACKGROUND-COLOR);
}
.logoRightPane .contactsPane {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contactsPane .contact {
  display: flex;
  flex-direction: row;
  font-size: 1.75vh;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: var(--BACKGROUND-COLOR);
  padding: 0.5vh 0.5vh 0.5vh 0;
}
.contactsPane .contactText {
  font-size: 1.5vh;
}

.mainPane .topPane {
  flex: 0.5;
  align-items: center;
  justify-content: center;
}
.topPane .headerPane {
  width: 40vh;
  align-items: center;
}
.headerPane .title {
  font-family: 'Font';
  font-weight: bold;
  font-size: 1.75vh;
  color: var(--WHITE);
}
.headerPane .subtitle {
  font-family: 'Font';
  font-size: 1.5vh;
  color: var(--WHITE);
  text-align: center;
}

.mainPane .bodyPane {
  flex: 1;
  align-items: center;
}
.bodyPane .contentPane {
  width: 42.5vh;
}
.contentPane .headerPane {
  flex-direction: row;
  justify-content: space-between;
  padding: 1.25vh 2vh 1.25vh 1.75vh;
  border-radius: 0.5vh;
  box-shadow: 0.15vh 0.15vh 0.25vh 0.1vh rgba(0, 0, 0, 0.25);
  background-color: var(--BACKGROUND-COLOR3);
}

.headerPane .text {
  font-size: 1.5vh;
  font-weight: bold;
  color: var(--WHITE);
}

.mainPane .bottomPane {
  flex: 0.5;
  align-items: center;
  justify-content: center;
}
.bottomPane .contentPane {
  flex: 1;
  width: 42.5vh;
  padding-top: 2vh;
  border-top: solid 0.2vh var(--BACKGROUND-COLOR2);
}
.contentPane .propertyPane {
  height: 2.75vh;
  flex-direction: row;
  align-items: center;
  padding: 0 2vh 0 2vh;
  justify-content: space-between;
  border-bottom: solid 0.05vh rgba(25, 25, 25, 0.25);
}
.propertyPane .text {
  font-size: 1.25vh;
  font-weight: bold;
  color: var(--WHITE);
}
.propertyPane .subtext {
  font-size: 1.5vh;
  font-weight: bold;
  color: var(--ACCENT-COLOR);
}

.mainPane .footerPane {
  height: 10vh;
  align-items: center;
  justify-content: center;
}

.footerPane .horizontalLine {
  height: 0.2vh;
  width: 42.5vh;
  position: absolute;
  background-color: var(--BACKGROUND-COLOR2);
}

.footerPane .devLogo {
  width: 5vh;
  object-fit: contain;
  filter: saturate(75%);
  border-right: solid 0.225vh var(--BACKGROUND-COLOR2);
  border-left: solid 0.225vh var(--BACKGROUND-COLOR2);
  background-color: var(--BACKGROUND-COLOR);
}
