.modal {
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  top: 0;
  position: absolute;
  background-color: transparent;
  z-index: 0;
}

.modal .touchOutside {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  cursor: default;
}
