.mainPane {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.mainPane .title {
  font-family: 'Font-Bold';
  font-size: 3vh;
  color: var(--ACCENT-COLOR);
}

.mainPane .subtitle {
  text-align: center;
  width: 35vh;
  font-size: 1.75vh;
  color: var(--WHITE);
}
